.container{
  background-color: rgb(241, 241, 228);
  font-family: 'Roboto Mono', monospace;
}

@media(min-width: 688px){
  .topnav {
    height: 90px;
    /* border: solid black; */
    display: flex;
    background-color: white;
    box-shadow: 0 10px 10px rgba(56, 54, 54, 0.19);
  }
  
  .profilePic {
    max-height: 90px;
    width: 90px;
    border-radius: 50px;
    margin-left: 30px;
  }
  
  h1 {
    margin-left: 15px;
    margin-bottom: 5px;
    text-decoration: line-through;
  }

  .aboutMe {
    display: flex;
    justify-content: space-between;
    
  }

  .paragraph {
    width: 500px;
    height: 500px;
    line-height: 26px;
    margin-left: 70px;
  }
  .profilePic1{
    width: 500px;
    height: 510px;

  }
  .access {
    display: flex;
    justify-content: space-around;
  }

}

@media(max-width: 688px){
  .topnav {
    height: 90px;
    /* border: solid black; */
    display: flex;
    background-color: white;
    box-shadow: 0 10px 10px rgba(56, 54, 54, 0.19);
  }

  .profilePic {
    max-height: 90px;
    width: 90px;
    border-radius: 50px;
    margin-left: 10px;
  }

  .profilePic1{
    display: none;
  }

  .access {
    display: flex;
    flex-direction: column;
  }

  h1 {
    margin-left: 8px;
    margin-bottom: 5px;
    text-decoration: line-through;
  }
  .paragraph {

    line-height: 25px;
    padding: 5px;
  }


}